*.out.*
*.html
*.jar
*.pyc
.DS_Store
OptimalVerifiedFT/*
.DS_Store
OptimalVerifiedFT/.DS_Store
*.out
benchmarks/.DS_Store
OptimalVerifiedFT/.DS_Store
src/.DS_Store
src/tools/.DS_Store
auto/*
auto/tools/util/LongVectorClock.java
auto/tools/fasttrack_long/FastTrackToolEnhancedV1.java
auto/rr/tool/parser/sym.java
auto/rr/tool/parser/parser.java
auto/rr/tool/parser/Lexer.java
auto/bin/rrrun
auto/rr/tool/parser/Lexer.java
auto/rr/tool/parser/parser.java
auto/rr/tool/parser/sym.java
auto/tools/util/LongVectorClock.java
*.csv
*.tex
*.log
*.aux

benchmarks/Experiments/small-tables-stats.pdf
benchmarks/Experiments/small-tables-perf.pdf
